@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #ffffff;
}

.heart {
  position: relative;
  width: 9px;
  height: 9px;
  background: #ff8e8e;
  transform: rotate(-45deg);
}

.heart::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #ff8e8e;
}

.heart::after {
  position: absolute;
  content: "";
  right: -50%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #ff8e8e;
}
